.hours12-0 :nth-child(2)
{
    background-image: url('hours/60.png');
}

.hours12-1 :nth-child(2)
{
    background-image: url('hours/01.png');
}


.hours12-2 :nth-child(2)
{
    background-image: url('hours/02.png');
}


.hours12-3 :nth-child(2)
{
    background-image: url('hours/03.png');
}


.hours12-4 :nth-child(2)
{
    background-image: url('hours/04.png');
}


.hours1-0 :nth-child(2)
{
    background-image: url('hours/05.png');
}

.hours1-1 :nth-child(2)
{
    background-image: url('hours/06.png');
}


.hours1-2 :nth-child(2)
{
    background-image: url('hours/07.png');
}


.hours1-3 :nth-child(2)
{
    background-image: url('hours/08.png');
}


.hours1-4 :nth-child(2)
{
    background-image: url('hours/09.png');
}


.hours2-0 :nth-child(2)
{
    background-image: url('hours/010.png');
}

.hours2-1 :nth-child(2)
{
    background-image: url('hours/011.png');
}


.hours2-2 :nth-child(2)
{
    background-image: url('hours/012.png');
}


.hours2-3 :nth-child(2)
{
    background-image: url('hours/013.png');
}


.hours2-4 :nth-child(2)
{
    background-image: url('hours/014.png');
}


.hours3-0 :nth-child(2)
{
    background-image: url('hours/015.png');
}

.hours3-1 :nth-child(2)
{
    background-image: url('hours/016.png');
}


.hours3-2 :nth-child(2)
{
    background-image: url('hours/017.png');
}


.hours3-3 :nth-child(2)
{
    background-image: url('hours/018.png');
}


.hours3-4 :nth-child(2)
{
    background-image: url('hours/019.png');
}

.hours4-0 :nth-child(2)
{
    background-image: url('hours/020.png');
}

.hours4-1 :nth-child(2)
{
    background-image: url('hours/021.png');
}


.hours4-2 :nth-child(2)
{
    background-image: url('hours/022.png');
}


.hours4-3 :nth-child(2)
{
    background-image: url('hours/023.png');
}


.hours4-4 :nth-child(2)
{
    background-image: url('hours/024.png');
}

.hours5-0 :nth-child(2)
{
    background-image: url('hours/025.png');
}

.hours5-1 :nth-child(2)
{
    background-image: url('hours/026.png');
}


.hours5-2 :nth-child(2)
{
    background-image: url('hours/027.png');
}


.hours5-3 :nth-child(2)
{
    background-image: url('hours/028.png');
}


.hours5-4 :nth-child(2)
{
    background-image: url('hours/029.png');
}

.hours6-0 :nth-child(2)
{
    background-image: url('hours/030.png');
}

.hours6-1 :nth-child(2)
{
    background-image: url('hours/031.png');
}


.hours6-2 :nth-child(2)
{
    background-image: url('hours/032.png');
}


.hours6-3 :nth-child(2)
{
    background-image: url('hours/033.png');
}


.hours6-4 :nth-child(2)
{
    background-image: url('hours/034.png');
}

.hours7-0 :nth-child(2)
{
    background-image: url('hours/035.png');
}

.hours7-1 :nth-child(2)
{
    background-image: url('hours/036.png');
}


.hours7-2 :nth-child(2)
{
    background-image: url('hours/037.png');
}


.hours7-3 :nth-child(2)
{
    background-image: url('hours/038.png');
}


.hours7-4 :nth-child(2)
{
    background-image: url('hours/039.png');
}

.hours8-0 :nth-child(2)
{
    background-image: url('hours/040.png');
}

.hours8-1 :nth-child(2)
{
    background-image: url('hours/041.png');
}


.hours8-2 :nth-child(2)
{
    background-image: url('hours/042.png');
}


.hours8-3 :nth-child(2)
{
    background-image: url('hours/043.png');
}


.hours8-4 :nth-child(2)
{
    background-image: url('hours/044.png');
}

.hours9-0 :nth-child(2)
{
    background-image: url('hours/045.png');
}

.hours9-1 :nth-child(2)
{
    background-image: url('hours/046.png');
}


.hours9-2 :nth-child(2)
{
    background-image: url('hours/047.png');
}


.hours9-3 :nth-child(2)
{
    background-image: url('hours/048.png');
}


.hours9-4 :nth-child(2)
{
    background-image: url('hours/049.png');
}

.hours10-0 :nth-child(2)
{
    background-image: url('hours/050.png');
}

.hours10-1 :nth-child(2)
{
    background-image: url('hours/051.png');
}


.hours10-2 :nth-child(2)
{
    background-image: url('hours/052.png');
}


.hours10-3 :nth-child(2)
{
    background-image: url('hours/053.png');
}


.hours10-4 :nth-child(2)
{
    background-image: url('hours/054.png');
}

.hours11-0 :nth-child(2)
{
    background-image: url('hours/055.png');
}

.hours11-1 :nth-child(2)
{
    background-image: url('hours/056.png');
}


.hours11-2 :nth-child(2)
{
    background-image: url('hours/057.png');
}


.hours11-3 :nth-child(2)
{
    background-image: url('hours/058.png');
}


.hours11-4 :nth-child(2)
{
    background-image: url('hours/059.png');
}
