.minutes0 :nth-child(3){
    
    background-image: url("minutes/0.png");
}

.minutes1 :nth-child(3){
    
    background-image: url("minutes/1.png");
}
.minutes2 :nth-child(3){
    
    background-image: url("minutes/2.png");
}

.minutes3 :nth-child(3){
    
    background-image: url("minutes/3.png");
}
.minutes4 :nth-child(3){
    
    background-image: url("minutes/4.png");
}

.minutes5 :nth-child(3){
    
    background-image: url("minutes/5.png");
}
.minutes6 :nth-child(3){
    
    background-image: url("minutes/6.png");
}

.minutes7 :nth-child(3){
    
    background-image: url("minutes/7.png");
}
.minutes8 :nth-child(3){
    
    background-image: url("minutes/8.png");
}
.minutes9 :nth-child(3){
    
    background-image: url("minutes/9.png");
}

.minutes10 :nth-child(3){
    
    background-image: url("minutes/10.png");
}
.minutes11 :nth-child(3){
    
    background-image: url("minutes/11.png");
}

.minutes12 :nth-child(3){
    
    background-image: url("minutes/12.png");
}
.minutes13 :nth-child(3){
    
    background-image: url("minutes/13.png");
}

.minutes14 :nth-child(3){
    
    background-image: url("minutes/14.png");
}
.minutes15 :nth-child(3){
    
    background-image: url("minutes/15.png");
}

.minutes16 :nth-child(3){
    
    background-image: url("minutes/16.png");
}

.minutes17 :nth-child(3){
    
    background-image: url("minutes/17.png");
}
.minutes18 :nth-child(3){
    
    background-image: url("minutes/18.png");
}

.minutes19 :nth-child(3){
    
    background-image: url("minutes/19.png");
}
.minutes20 :nth-child(3){
    
    background-image: url("minutes/20.png");
}

.minutes21 :nth-child(3){
    
    background-image: url("minutes/21.png");
}
.minutes22 :nth-child(3){
    
    background-image: url("minutes/22.png");
}

.minutes23 :nth-child(3){
    
    background-image: url("minutes/23.png");
}
.minutes24 :nth-child(3){
    
    background-image: url("minutes/24.png");
}
.minutes25 :nth-child(3){
    
    background-image: url("minutes/25.png");
}

.minutes26 :nth-child(3){
    
    background-image: url("minutes/26.png");
}
.minutes27 :nth-child(3){
    
    background-image: url("minutes/27.png");
}

.minutes28 :nth-child(3){
    
    background-image: url("minutes/28.png");
}
.minutes29 :nth-child(3){
    
    background-image: url("minutes/29.png");
}

.minutes30 :nth-child(3){
    
    background-image: url("minutes/30.png");
}

.minutes31 :nth-child(3){
    
    background-image: url("minutes/31.png");
}

.minutes32 :nth-child(3){
    
    background-image: url("minutes/32.png");
}
.minutes33 :nth-child(3){
    
    background-image: url("minutes/33.png");
}

.minutes34 :nth-child(3){
    
    background-image: url("minutes/34.png");
}
.minutes35 :nth-child(3){
    
    background-image: url("minutes/35.png");
}

.minutes36 :nth-child(3){
    
    background-image: url("minutes/36.png");
}
.minutes37 :nth-child(3){
    
    background-image: url("minutes/37.png");
}

.minutes38 :nth-child(3){
    
    background-image: url("minutes/38.png");
}
.minutes39 :nth-child(3){
    
    background-image: url("minutes/39.png");
}
.minutes40 :nth-child(3){
    
    background-image: url("minutes/40.png");
}

.minutes41 :nth-child(3){
    
    background-image: url("minutes/41.png");
}
.minutes42 :nth-child(3){
    
    background-image: url("minutes/42.png");
}

.minutes43 :nth-child(3){
    
    background-image: url("minutes/43.png");
}
.minutes44 :nth-child(3){
    
    background-image: url("minutes/44.png");
}

.minutes45 :nth-child(3){
    
    background-image: url("minutes/45.png");
}
.minutes46 :nth-child(3){
    
    background-image: url("minutes/46.png");
}

.minutes47 :nth-child(3){
    
    background-image: url("minutes/47.png");
}

.minutes48 :nth-child(3){
    
    background-image: url("minutes/48.png");
}
.minutes49 :nth-child(3){
    
    background-image: url("minutes/49.png");
}

.minutes50 :nth-child(3){
    
    background-image: url("minutes/50.png");
}
.minutes51 :nth-child(3){
    
    background-image: url("minutes/51.png");
}

.minutes52 :nth-child(3){
    
    background-image: url("minutes/52.png");
}
.minutes53 :nth-child(3){
    
    background-image: url("minutes/53.png");
}

.minutes54 :nth-child(3){
    
    background-image: url("minutes/54.png");
}
.minutes55 :nth-child(3){
    
    background-image: url("minutes/55.png");
}
.minutes56 :nth-child(3){
    
    background-image: url("minutes/56.png");
}

.minutes57 :nth-child(3){
    
    background-image: url("minutes/57.png");
}
.minutes58 :nth-child(3){
    
    background-image: url("minutes/58.png");
}

.minutes59 :nth-child(3){
    
    background-image: url("minutes/59.png");
}

