.seconds0 :nth-child(4){
    
    background-image: url("seconds/060.png");
}

.seconds1 :nth-child(4){
    
    background-image: url("seconds/01.png");
}
.seconds2 :nth-child(4){
    
    background-image: url("seconds/02.png");
}

.seconds3 :nth-child(4){
    
    background-image: url("seconds/03.png");
}
.seconds4 :nth-child(4){
    
    background-image: url("seconds/04.png");
}

.seconds5 :nth-child(4){
    
    background-image: url("seconds/05.png");
}
.seconds6 :nth-child(4){
    
    background-image: url("seconds/06.png");
}

.seconds7 :nth-child(4){
    
    background-image: url("seconds/07.png");
}
.seconds8 :nth-child(4){
    
    background-image: url("seconds/08.png");
}
.seconds9 :nth-child(4){
    
    background-image: url("seconds/09.png");
}

.seconds10 :nth-child(4){
    
    background-image: url("seconds/010.png");
}
.seconds11 :nth-child(4){
    
    background-image: url("seconds/011.png");
}

.seconds12 :nth-child(4){
    
    background-image: url("seconds/012.png");
}
.seconds13 :nth-child(4){
    
    background-image: url("seconds/013.png");
}

.seconds14 :nth-child(4){
    
    background-image: url("seconds/014.png");
}
.seconds15 :nth-child(4){
    
    background-image: url("seconds/015.png");
}

.seconds16 :nth-child(4){
    
    background-image: url("seconds/016.png");
}

.seconds17 :nth-child(4){
    
    background-image: url("seconds/017.png");
}
.seconds18 :nth-child(4){
    
    background-image: url("seconds/018.png");
}

.seconds19 :nth-child(4){
    
    background-image: url("seconds/019.png");
}
.seconds20 :nth-child(4){
    
    background-image: url("seconds/020.png");
}

.seconds21 :nth-child(4){
    
    background-image: url("seconds/021.png");
}
.seconds22 :nth-child(4){
    
    background-image: url("seconds/022.png");
}

.seconds23 :nth-child(4){
    
    background-image: url("seconds/023.png");
}
.seconds24 :nth-child(4){
    
    background-image: url("seconds/024.png");
}
.seconds25 :nth-child(4){
    
    background-image: url("seconds/025.png");
}

.seconds26 :nth-child(4){
    
    background-image: url("seconds/026.png");
}
.seconds27 :nth-child(4){
    
    background-image: url("seconds/027.png");
}

.seconds28 :nth-child(4){
    
    background-image: url("seconds/028.png");
}
.seconds29 :nth-child(4){
    
    background-image: url("seconds/029.png");
}

.seconds30 :nth-child(4){
    
    background-image: url("seconds/030.png");
}

.seconds31 :nth-child(4){
    
    background-image: url("seconds/031.png");
}

.seconds32 :nth-child(4){
    
    background-image: url("seconds/032.png");
}
.seconds33 :nth-child(4){
    
    background-image: url("seconds/033.png");
}

.seconds34 :nth-child(4){
    
    background-image: url("seconds/034.png");
}
.seconds35 :nth-child(4){
    
    background-image: url("seconds/035.png");
}

.seconds36 :nth-child(4){
    
    background-image: url("seconds/036.png");
}
.seconds37 :nth-child(4){
    
    background-image: url("seconds/037.png");
}

.seconds38 :nth-child(4){
    
    background-image: url("seconds/038.png");
}
.seconds39 :nth-child(4){
    
    background-image: url("seconds/039.png");
}
.seconds40 :nth-child(4){
    
    background-image: url("seconds/040.png");
}

.seconds41 :nth-child(4){
    
    background-image: url("seconds/041.png");
}
.seconds42 :nth-child(4){
    
    background-image: url("seconds/042.png");
}

.seconds43 :nth-child(4){
    
    background-image: url("seconds/043.png");
}
.seconds44 :nth-child(4){
    
    background-image: url("seconds/044.png");
}

.seconds45 :nth-child(4){
    
    background-image: url("seconds/045.png");
}
.seconds46 :nth-child(4){
    
    background-image: url("seconds/046.png");
}

.seconds47 :nth-child(4){
    
    background-image: url("seconds/047.png");
}

.seconds48 :nth-child(4){
    
    background-image: url("seconds/048.png");
}
.seconds49 :nth-child(4){
    
    background-image: url("seconds/049.png");
}

.seconds50 :nth-child(4){
    
    background-image: url("seconds/050.png");
}
.seconds51 :nth-child(4){
    
    background-image: url("seconds/051.png");
}

.seconds52 :nth-child(4){
    
    background-image: url("seconds/052.png");
}
.seconds53 :nth-child(4){
    
    background-image: url("seconds/053.png");
}

.seconds54 :nth-child(4){
    
    background-image: url("seconds/054.png");
}
.seconds55 :nth-child(4){
    
    background-image: url("seconds/055.png");
}
.seconds56 :nth-child(4){
    
    background-image: url("seconds/056.png");
}

.seconds57 :nth-child(4){
    
    background-image: url("seconds/057.png");
}
.seconds58 :nth-child(4){
    
    background-image: url("seconds/058.png");
}

.seconds59 :nth-child(4){
    
    background-image: url("seconds/059.png");
}

