.seconds0 :nth-child(2){
    
    background-image: url("seconds/0.png");
}

.seconds1 :nth-child(2){
    
    background-image: url("seconds/1.png");
}
.seconds2 :nth-child(2){
    
    background-image: url("seconds/2.png");
}

.seconds3 :nth-child(2){
    
    background-image: url("seconds/3.png");
}
.seconds4 :nth-child(2){
    
    background-image: url("seconds/4.png");
}

.seconds5 :nth-child(2){
    
    background-image: url("seconds/5.png");
}
.seconds6 :nth-child(2){
    
    background-image: url("seconds/6.png");
}

.seconds7 :nth-child(2){
    
    background-image: url("seconds/7.png");
}
.seconds8 :nth-child(2){
    
    background-image: url("seconds/8.png");
}
.seconds9 :nth-child(2){
    
    background-image: url("seconds/9.png");
}

.seconds10 :nth-child(2){
    
    background-image: url("seconds/10.png");
}
.seconds11 :nth-child(2){
    
    background-image: url("seconds/11.png");
}

.seconds12 :nth-child(2){
    
    background-image: url("seconds/12.png");
}
.seconds13 :nth-child(2){
    
    background-image: url("seconds/13.png");
}

.seconds14 :nth-child(2){
    
    background-image: url("seconds/14.png");
}
.seconds15 :nth-child(2){
    
    background-image: url("seconds/15.png");
}

.seconds16 :nth-child(2){
    
    background-image: url("seconds/16.png");
}

.seconds17 :nth-child(2){
    
    background-image: url("seconds/17.png");
}
.seconds18 :nth-child(2){
    
    background-image: url("seconds/18.png");
}

.seconds19 :nth-child(2){
    
    background-image: url("seconds/19.png");
}
.seconds20 :nth-child(2){
    
    background-image: url("seconds/20.png");
}

.seconds21 :nth-child(2){
    
    background-image: url("seconds/21.png");
}
.seconds22 :nth-child(2){
    
    background-image: url("seconds/22.png");
}

.seconds23 :nth-child(2){
    
    background-image: url("seconds/23.png");
}
.seconds24 :nth-child(2){
    
    background-image: url("seconds/24.png");
}
.seconds25 :nth-child(2){
    
    background-image: url("seconds/25.png");
}

.seconds26 :nth-child(2){
    
    background-image: url("seconds/26.png");
}
.seconds27 :nth-child(2){
    
    background-image: url("seconds/27.png");
}

.seconds28 :nth-child(2){
    
    background-image: url("seconds/28.png");
}
.seconds29 :nth-child(2){
    
    background-image: url("seconds/29.png");
}

.seconds30 :nth-child(2){
    
    background-image: url("seconds/30.png");
}

.seconds31 :nth-child(2){
    
    background-image: url("seconds/31.png");
}

.seconds32 :nth-child(2){
    
    background-image: url("seconds/32.png");
}
.seconds33 :nth-child(2){
    
    background-image: url("seconds/33.png");
}

.seconds34 :nth-child(2){
    
    background-image: url("seconds/34.png");
}
.seconds35 :nth-child(2){
    
    background-image: url("seconds/35.png");
}

.seconds36 :nth-child(2){
    
    background-image: url("seconds/36.png");
}
.seconds37 :nth-child(2){
    
    background-image: url("seconds/37.png");
}

.seconds38 :nth-child(2){
    
    background-image: url("seconds/38.png");
}
.seconds39 :nth-child(2){
    
    background-image: url("seconds/39.png");
}
.seconds40 :nth-child(2){
    
    background-image: url("seconds/40.png");
}

.seconds41 :nth-child(2){
    
    background-image: url("seconds/41.png");
}
.seconds42 :nth-child(2){
    
    background-image: url("seconds/42.png");
}

.seconds43 :nth-child(2){
    
    background-image: url("seconds/43.png");
}
.seconds44 :nth-child(2){
    
    background-image: url("seconds/44.png");
}

.seconds45 :nth-child(2){
    
    background-image: url("seconds/45.png");
}
.seconds46 :nth-child(2){
    
    background-image: url("seconds/46.png");
}

.seconds47 :nth-child(2){
    
    background-image: url("seconds/47.png");
}

.seconds48 :nth-child(2){
    
    background-image: url("seconds/48.png");
}
.seconds49 :nth-child(2){
    
    background-image: url("seconds/49.png");
}

.seconds50 :nth-child(2){
    
    background-image: url("seconds/50.png");
}
.seconds51 :nth-child(2){
    
    background-image: url("seconds/51.png");
}

.seconds52 :nth-child(2){
    
    background-image: url("seconds/52.png");
}
.seconds53 :nth-child(2){
    
    background-image: url("seconds/53.png");
}

.seconds54 :nth-child(2){
    
    background-image: url("seconds/54.png");
}
.seconds55 :nth-child(2){
    
    background-image: url("seconds/55.png");
}
.seconds56 :nth-child(2){
    
    background-image: url("seconds/56.png");
}

.seconds57 :nth-child(2){
    
    background-image: url("seconds/57.png");
}
.seconds58 :nth-child(2){
    
    background-image: url("seconds/58.png");
}

.seconds59 :nth-child(2){
    
    background-image: url("seconds/59.png");
}

