html body {margin:0;padding:0}

.clock
{
    xmargin: 10;
    xpadding: 10;
    height: 100vh;
    xwidth: 100%;
    xbackground: #f8bcce;

}

.clock > div
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:  100% 100%;
    xbackground-position: center;
    position: absolute;
}

.clock :nth-child(1){
    background-image: url("digitalFace.png");
    xborder: solid 1px Black;
    xmargin-top: 10%;
}


