.clock :nth-child(3){
    /* background-position-x: 30%, 2%;
    background-position-y: 50%;
    background-size: 20% 65%; */

    background-position-x: 18%, 1%;
    background-position-y: 50%;
    background-size: 24% 90%, 9% 90%;
}

.hours0-0 :nth-child(3),
.hours0-1 :nth-child(3),
.hours0-2 :nth-child(3),
.hours0-3 :nth-child(3),
.hours0-4 :nth-child(3)
{
background-image: url('digits/0.png'), url(''); 
}
.hours1-0 :nth-child(3),
.hours1-1 :nth-child(3),
.hours1-2 :nth-child(3),
.hours1-3 :nth-child(3),
.hours1-4 :nth-child(3)
{
background-image: url('digits/1.png'), url(''); 
}
.hours2-0 :nth-child(3),
.hours2-1 :nth-child(3),
.hours2-2 :nth-child(3),
.hours2-3 :nth-child(3),
.hours2-4 :nth-child(3)
{
background-image: url('digits/2.png'), url(''); 
}
.hours3-0 :nth-child(3),
.hours3-1 :nth-child(3),
.hours3-2 :nth-child(3),
.hours3-3 :nth-child(3),
.hours3-4 :nth-child(3)
{
background-image: url('digits/3.png'), url(''); 
}
.hours4-0 :nth-child(3),
.hours4-1 :nth-child(3),
.hours4-2 :nth-child(3),
.hours4-3 :nth-child(3),
.hours4-4 :nth-child(3)
{
background-image: url('digits/4.png'), url(''); 
}
.hours5-0 :nth-child(3),
.hours5-1 :nth-child(3),
.hours5-2 :nth-child(3),
.hours5-3 :nth-child(3),
.hours5-4 :nth-child(3)
{
background-image: url('digits/5.png'), url(''); 
}
.hours6-0 :nth-child(3),
.hours6-1 :nth-child(3),
.hours6-2 :nth-child(3),
.hours6-3 :nth-child(3),
.hours6-4 :nth-child(3)
{
background-image: url('digits/6.png'), url(''); 
}
.hours7-0 :nth-child(3),
.hours7-1 :nth-child(3),
.hours7-2 :nth-child(3),
.hours7-3 :nth-child(3),
.hours7-4 :nth-child(3)
{
background-image: url('digits/7.png'), url(''); 
}
.hours8-0 :nth-child(3),
.hours8-1 :nth-child(3),
.hours8-2 :nth-child(3),
.hours8-3 :nth-child(3),
.hours8-4 :nth-child(3)
{
background-image: url('digits/8.png'), url(''); 
}
.hours9-0 :nth-child(3),
.hours9-1 :nth-child(3),
.hours9-2 :nth-child(3),
.hours9-3 :nth-child(3),
.hours9-4 :nth-child(3)
{
background-image: url('digits/9.png'), url(''); 
}
.hours10-0 :nth-child(3),
.hours10-1 :nth-child(3),
.hours10-2 :nth-child(3),
.hours10-3 :nth-child(3),
.hours10-4 :nth-child(3)
{
background-image: url('digits/0.png'), url('digits/1Slim.png'); 
}
.hours11-0 :nth-child(3),
.hours11-1 :nth-child(3),
.hours11-2 :nth-child(3),
.hours11-3 :nth-child(3),
.hours11-4 :nth-child(3)
{
background-image: url('digits/1.png'), url('digits/1Slim.png'); 
}
.hours12-0 :nth-child(3),
.hours12-1 :nth-child(3),
.hours12-2 :nth-child(3),
.hours12-3 :nth-child(3),
.hours12-4 :nth-child(3)
{
background-image: url('digits/2.png'), url('digits/1Slim.png'); 

}